<div [formGroup]="form">
  <wj-list-box style="height:150px;width:250px;" formControlName="listSignBoxs"></wj-list-box>
  <wj-list-box style="height:150px;width:250px;" checkbox="true" formControlName="listSignCheckboxBoxs"></wj-list-box>
  <wj-list-box style="height:150px;width:250px;" multi="true" formControlName="listMultiBoxs"></wj-list-box>
  <wj-list-box style="height:150px;width:250px;" multi="true" checkbox="true" formControlName="listMultiCheckboxBoxs"></wj-list-box>
  <br>
  <wj-combo-box></wj-combo-box>
</div>


<a href="javascript:;" (click)="onBtn()">test</a>
